body {
  font-family: Georgia, serif;
  background-color: #191919;
  color: #d0d0d0;
}


.navbar {

  background-color: #030303 !important;
  height: 70px;

}
.navbar-nav {
  margin-left: auto;
  margin-right: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}


.navbar-brand {
  font-size: 26px;
  margin-left: 70px;
  display: flex;
  align-items: center;
  position: relative;
  display: block;
  transition: 0.5s;
  cursor: pointer;
}

.navbar-brand::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-brand:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


.navbar-light .navbar-nav .nav-link {
  font-size: 20px;
  color: #ffffff;
  font-family: Georgia, serif;
}


.navbar-light .navbar-nav .nav-link.active {
  color: #ffffff;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  display: block;
  transition: 0.5s;
  cursor: pointer;
}

li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 90%;
  left: 0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #fff;
}

li:hover {
  color: #ccc;
}

li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;

}

.container p {
  font-size: 18px;
  line-height: 1.6;
}

.container button {
  margin-top: 20px;
}


.main-content {
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
  ),
  url('back.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.main-content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(ellipse at center, transparent 30%, rgba(0, 0, 0, .76) 70%);
  pointer-events: none;
}

.content-box-index {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
  max-width: calc(100% - 40px); /* Adjust max-width for better responsiveness */
  box-shadow: -20px 30px 15px 0 rgba(0, 0, 0, .5), 15px 30px 15px 0 rgba(0, 0, 0, .4);

}

.content-box-contact {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px; /* Adjust max-width for better responsiveness */
  box-shadow: -20px 30px 15px 0 rgba(0, 0, 0, .5), 15px 30px 15px 0 rgba(0, 0, 0, .4);
  margin: auto;
}

.content-box {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
  max-width: calc(100% - 300px); /* Adjust max-width for better responsiveness */
  box-shadow: -20px 30px 15px 0 rgba(0, 0, 0, .5), 15px 30px 15px 0 rgba(0, 0, 0, .4);
  margin: auto;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0,0,0,0.09);
}
span{
  display: block;
  padding: 25px 80px;
}
button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}

.btn-1::before, .btn-1::after{
  transition-delay: 0s;
}
.btn-1 span::before, .btn-1 span::after{
  transition-delay: 0s;
}
.btn-1::before{
  right: 0;
  top: 0;
}
.btn-1::after{
  left: 0;
  bottom: 0;
}
.btn-1 span::before{
  left: 0;
  top: 0;
}
.btn-1 span::after{
  right: 0;
  bottom: 0;
}
.btn-1:hover::before, .btn-1:hover::after{
  transition-delay: 0s;
}
.btn-1:hover span::before, .btn-1:hover span::after{
  transition-delay: 0.2s;
}



.project-card {
  border: 1px solid #ccc;
  margin: 15px;
  overflow: hidden; /* Ensures that the image doesn't overflow the card */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
  cursor: pointer;
  flex: 0 1 calc(33.333% - 20px);
  max-width: 800px;
  margin: 10px;
}

.project-card:hover {
  transform: translateY(-5px); /* Moves the card up slightly on hover */
  box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Adds shadow to lift the card */
}

.project-image {
  width: 50%;
  display: block;
}

.project-info {
  padding: 15px;
  text-align: center;
}

.project-title {
  margin-top: 10px;
  font-size: 1.5em;
}

.project-description {
  font-size: 0.9em;
  margin: 10px 0;
}

.project-link {
  text-decoration: none;
  color: #d0d0d0; /* Bootstrap primary color */
  background-color: transparent;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.project-link:hover {
  color: #d0d0d0bb; /* Darker shade on hover */
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

[data-aos] {
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

a.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  text-decoration: none;
  border: none;
  background-color: #444;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

a.btn:hover {
  background-color: #555;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


@media (max-width: 768px) {
  .project-container {
      flex-direction: column;
  }
}
